-- 1. Create the view to safely join profiles and auth.users
CREATE OR REPLACE VIEW public.user_registrations AS
SELECT p.id, p.username, p.minecraft_username, p.created_at, p.approval_status, u.email
FROM public.profiles p
    JOIN auth.users u ON p.id = u.id;

-- 2. Grant permission so authenticated users can access the view
-- Because the view uses the underlying 'profiles' table,
-- Supabase will still enforce the RLS policies you already have.
GRANT SELECT ON public.user_registrations TO authenticated;