-- Fix Plugin Categories Policy
DROP POLICY IF EXISTS "Admins can manage plugin categories" ON plugin_categories;

CREATE POLICY "Admins can manage plugin categories" ON plugin_categories FOR ALL USING (
    EXISTS (
        SELECT 1
        FROM profiles
        WHERE
            id = auth.uid ()
            AND role = 'admin'
    )
)
WITH
    CHECK (
        EXISTS (
            SELECT 1
            FROM profiles
            WHERE
                id = auth.uid ()
                AND role = 'admin'
        )
    );

-- Fix Shop Categories Policy
DROP POLICY IF EXISTS "Admins can manage shop categories" ON shop_categories;

CREATE POLICY "Admins can manage shop categories" ON shop_categories FOR ALL USING (
    EXISTS (
        SELECT 1
        FROM profiles
        WHERE
            id = auth.uid ()
            AND role = 'admin'
    )
)
WITH
    CHECK (
        EXISTS (
            SELECT 1
            FROM profiles
            WHERE
                id = auth.uid ()
                AND role = 'admin'
        )
    );