
-- 1. Ensure Admins can update any profile (for approval/banning)
DROP POLICY IF EXISTS \"Admins can update any profile\" ON profiles;
CREATE POLICY \"Admins can update any profile\" ON profiles
FOR UPDATE
USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role = 'admin'))
WITH CHECK (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role = 'admin'));

